<p>ログインユーザ : <%= current_user.name %></p>
<div class="row">
  <aside class="col-sm-4">
    <%= render 'tasks/form' %>
  </aside>
  <div class="col-sm-8">
    <%= render 'tasks/tasks', tasks: @tasks %>
  </div>
</div>